/* Acá van tus estilos */
* {
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
}
.nav-wrapper {
    background-color: #333333;
}
#menu-wrapper {
    padding-left: 120px;
}
#menu-wrapper a {
    color: #999999;
}
.dropdown-content{
	margin-top: 64px;	
}
.dropdown-content li{
	background-color: #333333;
}
.dropdown-content li a{
	color: #999999;
	font-size: 1rem;
}
.dropdown-content li:hover{
	background-color: #434343;
}
#menu-wrapper a:hover{
	color: white;
}
#menu-sign a{
	color: #999999;
}
#menu-sign a:hover{
	color: white;
}
img{
	height: 40px;
}
#logo{	
    display: block;
    top: 7px;
    left: 20px;
    background-repeat: no-repeat;
}
#sub-menu {
	height: 60px;
    color: #333333;
    background-color: #fafafa;
}
#sub-menu b{
	margin-right: 5px;
	cursor: pointer;
}
#sub-menu .num{
	margin-right: 10px;
	color: #999999;
	cursor: pointer;
}
#sub-menu .more{
	display: -webkit-inline-box;
	font-size: 1.5rem;
	color: #999999;
	height: 33px;
	cursor: pointer;
}
#sub-menu .btn{
	padding-right: 0px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 20px;
	height: 32px;
	background: transparent;
	color: #999999;
	font-size: 12px;
	text-transform: none;
	letter-spacing:0px;
	border: 1px solid #999999;
	border-radius: 4px;
	box-shadow: none;
}
#sub-menu i.right{
	margin-left: 0px;
}
#sub-menu .btn .unfold{
	line-height:inherit;
	font-size: 20px;
	margin-right: 0px;
	margin-left: 20px;
}




.nav-content {
    width: 100%;
}

.fa-sort {
    font-size: 0.7em;
}


#nav-downside {
    background-color: white;
    color: #999999;
}

.dribbble a li p {
    background-color: #fbfbfb;
}