/* Acá van tus estilos */
* {
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
    -webkit-box-sizing: border-box;

}
/*estilos nav-bar*/
.nav-wrapper {
    background-color: #333333;
}
#menu-wrapper {
    padding-left: 120px;
}
#menu-wrapper a {
    color: #999999;
}
.dropdown-content{
	margin-top: 64px;	
}
.dropdown-content li{
	background-color: #333333;
}
.dropdown-content li.divider{
	margin-top: 1px;
}
.dropdown-content li a{
	color: #999999;
	font-size: 1rem;
}
.dropdown-content li:hover{
	background-color: #434343;
}
#menu-wrapper a:hover{
	color: white;
}
#menu-sign a{
	color: #999999;
}
#menu-sign a:hover{
	color: white;
}
img{
	height: 40px;
}
#logo{	
    display: block;
    top: 7px;
    left: 20px;
    background-repeat: no-repeat;
}
#sub-menu {
	height: 55px;
    color: #333333;
    background-color: #fafafa;
}
#sub-menu b{
	margin-right: 5px;
	cursor: pointer;
}
#sub-menu .num{
	margin-right: 10px;
	color: #999999;
	cursor: pointer;
}
#sub-menu .more{
	display: -webkit-inline-box;
	font-size: 1.5rem;
	color: #999999;
	height: 33px;
	cursor: pointer;
}
#sub-menu .btn{
	padding-right: 0px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 20px;
	height: 32px;
	background: transparent;
	color: #999999;
	font-size: 12px;
	text-transform: none;
	letter-spacing:0px;
	border: 1px solid #999999;
	border-radius: 4px;
	box-shadow: none;
}
#sub-menu i.right{
	margin-left: 0px;
}
#sub-menu .btn .unfold{
	line-height:inherit;
	font-size: 20px;
	margin-right: 0px;
	margin-left: 20px;
}

/*estilos perfil artista*/
.perfil {
    margin-top: 85px;
    margin-left: 100px;
}

.contenedor {
	position: absolute;
    background-color: #fff;
    width: 325px;    
    border-radius: 8px;
}
.center{
	margin-left: 20px;
	margin-right: 20px;
}
.perfil-artista {
    margin-top: 25px;
}
#perfil-img{
	width: 80px;
	height: 80px;
}
.perfil-datos h5{
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 2px;
}
.perfil-datos p{
	color: #999999;
}
.perfil-description{
	margin-top: 10px;
}
.button{
	margin-right: 5px;
}
#message {
    background-color: #53c68c;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    border: none;
}
#Follow {
    background-color: #d6d4d4;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    color: #999;
    border: none;
}
#setting{
    background-color: #d6d4d4;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    color: #c4c4c4;
    border: none;
}
.perfil-divider{
	margin-top: 20px;
	margin-bottom: 20px;
}
p.left{
	font-size: 14px;
	font-weight: bold;
	color: #999;
}
.container{
	width: 100%;
	text-align: left;
}
.skills-a {
    background-color: transparent;
    font-size: 12px;
    border: 0.8px solid #999999;
    border-radius: 4px;
    color: #333333;
}
.perfil-icons{
	text-align: left;
}
.perfil-icons i{
    color: #999;
}
/*estilos shots*/
.card {
    list-style: none;
    border: 20px solid #fbfbfb;
    background-color: #fbfbfb;
    margin-bottom: 10px;
}
.grey{
	color: #999;
	margin-top: 1px;
	font-size: 12px;	
}
.shots-i{
	color:#999;
	margin-left: 5px;
}
/*estilos footer*/



